<div class="{{::container.layout === 'horizontal' ? layoutCss : '' }}">
    <input class="form-control inputField {{::container.layout !== 'horizontal' ? layoutCss : ''}}"
           ng-model='container.record[container.field]'
           type='text'
           name='{{::container.field}}'
           ng-required='container.isRequired'
           ng-disabled="container.isReadonly"
           step="any"
           style="{{::style}}"
           currency-mask
            />
    <div ng-if="::(rightLabel && rightLabel.length > 0)" class="rightLabel">{{::rightLabel}}</div>
</div>

