<div class="{{::container.layout === 'horizontal' ? layoutCss : '' }}">
    <select ng-if="!container.isReadonly"
            class="form-control {{::container.layout !== 'horizontal' ? layoutCss : ''}}"
            name="{{::container.field}}"
            ng-model="container.record[container.field]"
            ng-options="convertType(key) as innerItems[key] for key in orderHash(innerItems)"
            ng-required="container.isRequired"></select>
    <!-- optionValue as optionLabel for arrayItem in array -->

    <input ng-if="container.isReadonly"
           style="{{::style}}"
           readonly="readonly"
           type='text'
           class="form-control {{::container.layout !== 'horizontal' ? layoutCss : ''}}"
           ng-model='readOnlyModel'/>
</div>
