<div>
    <div class="{{layout === 'horizontal' ? inputLayout : '' }}">
        <input class="form-control inputField {{layout !== 'horizontal' ? layoutCss : ''}}"
            ng-model='record[field]'
            name='{{::field}}'
            type='{{::type}}'
            ng-required='isRequired'
            ng-disabled='isReadonly'
            placeholder='{{::placeholder}}'
            max="{{::max}}"
            min="{{::min}}"
            step="{{::step}}"
            style="{{::style}}"
            mask-input="{{mask}}"
        />
        <div ng-if="::(rightLabel && rightLabel.length > 0)" class="rightLabel">{{::rightLabel}}</div>
        <div ng-if="log">
            form-input value: {{record[field]}}<br>
            {{isRequired}}
        </div>

    </div>
</div>
