<div class="text-toggle">
    <input type='text' ng-readonly="isReadonly" type='{{::type}}'
           class="form-control inputField " ng-required='isRequired' ng-model='record[field]'/>

    <!-- bug in toggle where setting any disabled makes it disabled - so needing an if here -->
    <toggle-switch ng-if="isReadonly" disabled="true" class="{{::toggleSwitchType}}" ng-model="record[toggleField]"
                   on-label="{{::onLabel}}" off-label="{{::offLabel}}">
    </toggle-switch>

    <toggle-switch ng-if="!isReadonly" class="{{::toggleSwitchType}}" ng-model="record[toggleField]"
                   on-label="{{::onLabel}}" off-label="{{::offLabel}}">
    </toggle-switch>
</div>