<div>
    <div ng-if="layout === 'stacked'" class="row">
         <div class='form-group clearfix' ng-class="{ 'has-error': showError() }">

        <div class="{{layoutCss}}">
            <label ng-if="showLabel" class='control-label {{labelCss}}'>
                {{ label || (field | labelCase) }}
                <span ng-if='isRequired && !isReadonly'>*</span>
                <span ng-if="showToolTip"><a href="#" uib-popover="{{helpText}}" popover-trigger="mouseenter"><i class="fa fa-question-circle"></i></a></span>
                <!--<span ng-if="showToolTip" uib-popover="{{helpText}}" popover-trigger="mouseenter"><i class="fa fa-question-circle"></i></span>-->
            </label>

            <div ng-if="!valueFormatter || !isReadonly"><ng-transclude></ng-transclude></div>
            <input ng-if="valueFormatter && isReadonly" class="form-control" type="text" ng-value="valueFormatter()" name="{{field}}" readonly="readonly" />

            <!-- validation -->
            <div class="pull-left" ng-include="'sds-angular-controls/form-directives/form-field-validation.html'"></div>
            <div ng-if="showHelpText && !showToolTip" style="color: #999; font-size: 12px;">
                <i>{{helpText}}</i>
            </div>
        </div>
         </div>
    </div>

    <div ng-if="layout === 'horizontal'" class="row inline-control">
        <div class='form-group clearfix' ng-class="{ 'has-error': showError() }">

            <label ng-if="showLabel" class='control-label {{labelCss}}'> {{ label || (field | labelCase) }} <span ng-if='isRequired && !isReadonly'>*</span></label>

            <div class="{{childLayoutCss || 'col-md-6'}}">
                <span ng-if="!valueFormatter || !isReadonly"><ng-transclude></ng-transclude></span>
                <input ng-if="valueFormatter && isReadonly" class="form-control" type="text" ng-value="valueFormatter()" name="{{field}}" readonly="readonly" />
            </div>

        <!-- validation -->
            <div ng-if="!hideValidationMessage" ng-show='showError()' class="popover validation right alert-danger"
                 style="display:inline-block; top:auto; left:auto; margin-top:-4px; min-width:240px;">
                <div class="arrow" style="top: 20px"></div>
                <div class="popover-content" ng-include="'sds-angular-controls/form-directives/form-field-validation.html'" >
                </div>
            </div>
        </div>
    </div>

    <div ng-if="layout !== 'stacked' && layout !== 'horizontal'" ng-class="{ 'has-error': showError() }" class="grid-control {{::layoutCss}}">

        <span ng-if="!valueFormatter || !isReadonly"><ng-transclude></ng-transclude></span>
        <input ng-if="valueFormatter && isReadonly" class="form-control" type="text" ng-value="valueFormatter()" name="{{field}}" readonly="readonly" />

    </div>
</div>
