<div class="{{::container.layout === 'horizontal' ? layoutCss : '' }} datepicker timepicker">
    <span class="input-group  {{::container.layout !== 'horizontal' ? layoutCss : ''}}" ng-if="!container.isReadonly">
        <input type="text" style="{{::style}}"
               class="form-control datepicker"
               placeholder="{{placeholder || container.label}}"
               ng-model="container.record[container.field]"
               ng-required="::container.isRequired"
               min-date="min"
               max-date="max"
               datepicker-popup="{{::dateFormat}}"
               is-open="calendar.opened">
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
    </span>

    <timepicker ng-if="!container.isReadonly"
                ng-model="container.record[container.field]"
                ng-required="::container.isRequired"
                ng-if="!container.isReadonly"
                minute-step="1"></timepicker>

    <input ng-if="container.isReadonly"
           style="{{::style}}"
           readonly="readonly"
           type='text'
           class="form-control {{::container.layout !== 'horizontal' ? layoutCss : ''}}"
           ng-model='readOnlyModel'/>
</div>