<div id="add-control-modal">
    <div class="modal-header">
        <h4 class="modal-title">Leave Page?</h4>
    </div>
    <div class="modal-body">
        <strong>You haven't saved your changes.  Do you want to leave without finishing ?</strong>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$dismiss()">Stay on This Page</button>
        <button type="button" class="btn btn-secondary" ng-click="$close('CONTINUE')">Leave This Page</button>
    </div>
</div>