<div class="{{::container.layout === 'horizontal' ? layoutCss : '' }}">
    <input class="form-control inputField {{::container.layout !== 'horizontal' ? layoutCss : ''}}"
           ng-model='container.record[container.field]'
           name='{{::container.field}}'
           type='{{::type}}'
           ng-if="type !== 'number'"
           ng-required='container.isRequired'
           ng-disabled='container.isReadonly'
           placeholder='{{::placeholder || container.label}}'
           style="{{::style}}"
           mask-input="{{mask}}"
        />
    <input class="form-control inputField {{::container.layout !== 'horizontal' ? layoutCss : ''}}"
           ng-model='container.record[container.field]'
           name='{{::container.field}}'
           type="number"
           ng-if="type === 'number'"
           ng-required='container.isRequired'
           ng-disabled='container.isReadonly'
           placeholder='{{::placeholder || container.label}}'
           min="{{::min}}"
           max="{{::max}}"
           step="{{::step}}"
           style="{{::style}}"
           mask-input="{{mask}}"
        />


        <div ng-if="::(rightLabel && rightLabel.length > 0)" class="rightLabel">{{::rightLabel}}</div>
</div>
