
    <span class="input-group">
        <input type="text" form-control
               class="datepicker"
               placeholder="{{placeholder || container.label}}"
               ng-model="sdsModel"
               min-date="min"
               max-date="max"
               datepicker-popup="{{::dateFormat}}"
               is-open="isOpened">
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
    </span>
