<div class="{{::container.layout === 'horizontal' ? layoutCss : '' }}">

    <select ng-if="!container.isReadonly && !reload"
            ng-readonly="container.isReadonly"
            ng-required="container.isRequired"
            name="{{::container.field}}"
            selectize="options"
            options="items"
            class="{{::container.layout !== 'horizontal' ? layoutCss : ''}}"
            ng-model="container.record[container.field]"></select>
    <!-- optionValue as optionLabel for arrayItem in array -->

    <input ng-if="container.isReadonly"
           style="{{::style}}"
           readonly="readonly"
           type='text'
           class="form-control {{::container.layout !== 'horizontal' ? layoutCss : ''}}"
           ng-model='readOnlyModel'/>
</div>
