<div>
   <div ng-if="layout === 'horizontal'" class="{{::layoutCss}}">
       <input class="form-control inputField"
              ng-model='record[field]'
              type='{{::type}}'
              ng-required='isRequired'
              ng-disabled="isReadonly"
              placeholder='{{::placeholder}}'
              max="{{::max}}"
              min="{{::min}}"
              style="{{::style}}"
              mask-input="{{::mask}}"
               />
   </div>
   <div ng-if="layout === 'stacked'">
       <input class="form-control inputField {{::layoutCss}}"
              ng-model='record[field]'
              type='{{::type}}'
              ng-required='isRequired'
              ng-disabled="isReadonly"
              placeholder='{{::placeholder}}'
              max="{{::max}}"
              min="{{::min}}"
              style="{{::style}}"
              mask-input="{{::mask}}"
               />
   </div>


   <div ng-if="log">
      form-input value: {{record[field]}}<br>
      {{isRequired}}
   </div>
</div>

