<div>

    <select ng-if="!isReadonly && !hasFilter" ng-readonly="isReadonly" ng-required="isRequired" name="{{::field}}"
            selectize="options" options="items" ng-model="record[field]"></select>
    <!-- optionValue as optionLabel for arrayItem in array -->

    <input ng-if="isReadonly" style="{{::style}}" ng-readonly="isReadonly" type='text'
           class="form-control inputField {{::inputLayoutCss}}" ng-model='readOnlyModel'/>

    <div ng-if="log">
        form-input value: {{record[field]}}<br>
        {{isRequired}}
    </div>

</div>
