<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../bower_components/angular-toggle-switch/angular-toggle-switch.css" type="text/css">
    <link rel="stylesheet" href="../bower_components/selectize/dist/css/selectize.css" type="text/css">
    <link rel="stylesheet" href="../bower_components/selectize/dist/css/selectize.bootstrap3.css" type="text/css">
  <link rel="stylesheet" href="../dist/sds-angular-controls.css" type="text/css">
</head>
<body>

<div class="container">

  <h1>Demo</h1>

    <div ng-controller="DemoCtrl as vm">

     <h3>Stacked Form</h3>
      <form name="testFrm" ng-submit="vm.save(testFrm)" novalidate>

          <form-field is-required="true" is-readonly="true">
              <select ng-model="vm.testForm.State" name="frist" form-control ng-options="s.stateCode as s.stateName for s in vm.states"></select>
          </form-field>

          <form-field is-required="true">
              <select ng-model="vm.testForm.State" form-control ng-options="s.stateCode as s.stateName for s in vm.states"></select>
          </form-field>

          <form-field is-required="true" is-readonly="true">
              <input type="text" ng-model="vm.testForm.FirstName" form-control />
          </form-field>

          <form-field is-required="true">
              <input type="text" ng-model="vm.testForm.FirstName" form-control />
          </form-field>

          <form-field is-required="true">
              <input type="number" ng-model="vm.testForm.Age" form-control min="1" max="110" />
          </form-field>

          <form-field is-required="true">
              <input type="email" ng-model="vm.testForm.Email" form-control />
          </form-field>

          <form-field>
              <input type="tel" ng-model="vm.testForm.PhoneNumber" form-control />
          </form-field>

          <form-field>
              <toggle-switch form-control ng-model="vm.testForm.LikesIceCream" on-label="Uh, Yes" off-label="Bleh"></toggle-switch>
          </form-field>

          <form-field is-readonly="true">
              <toggle-switch form-control ng-model="vm.testForm.LikesIceCream" on-label="Uh, Yes" off-label="Bleh"></toggle-switch>
          </form-field>

          <form-field is-readonly="true">
              <form-date-picker sds-model="vm.testForm.DateOfBirth" date-format="MM/dd/yyyy"></form-date-picker>
              <!--<timepicker ng-model="vm.testForm.DateOfBirth" minute-step="1"></timepicker>-->
          </form-field>

          <form-field>
              <!--<form-date-picker sds-model="vm.testForm.DateOfBirth" date-format="MM/dd/yyyy"></form-date-picker>-->
              <timepicker ng-model="vm.testForm.DateOfBirth" minute-step="1"></timepicker>
          </form-field>
          <input type="submit" value="Submit" class="btn btn-primary">
      </form>

        <hr>

     <h3>Horizontal Form</h3>
        <form name="testHorizontalFrm" class="form-horizontal" ng-submit="vm.save(testHorizontalFrm)" novalidate>

            <form-field is-required="true" is-readonly="true" layout="horizontal">
                <select ng-model="vm.testForm.State" name="frist" form-control ng-options="s.stateCode as s.stateName for s in vm.states"></select>
            </form-field>

            <form-field is-required="true" layout="horizontal">
                <select ng-model="vm.testForm.State" form-control ng-options="s.stateCode as s.stateName for s in vm.states"></select>
            </form-field>

            <form-field is-required="true" is-readonly="true" layout="horizontal">
                <input type="text" ng-model="vm.testForm.FirstName" form-control />
            </form-field>

            <form-field is-required="true" layout="horizontal">
                <input type="text" ng-model="vm.testForm.FirstName" form-control />
            </form-field>

            <form-field is-required="true" layout="horizontal">
                <input type="number" ng-model="vm.testForm.Age" form-control min="1" max="110" />
            </form-field>

            <form-field is-required="true" layout="horizontal">
                <input type="email" ng-model="vm.testForm.Email" form-control />
            </form-field>

            <form-field layout="horizontal">
                <input type="tel" ng-model="vm.testForm.PhoneNumber" form-control />
            </form-field>

            <form-field layout="horizontal">
                <toggle-switch form-control ng-model="vm.testForm.LikesIceCream" on-label="Uh, Yes" off-label="Bleh"></toggle-switch>
            </form-field>

            <form-field is-readonly="true" layout="horizontal">
                <toggle-switch form-control ng-model="vm.testForm.LikesIceCream" on-label="Uh, Yes" off-label="Bleh"></toggle-switch>
            </form-field>

            <form-field is-readonly="true" layout="horizontal">
                <form-date-picker sds-model="vm.testForm.DateOfBirth" date-format="MM/dd/yyyy"></form-date-picker>
                <timepicker ng-model="vm.testForm.DateOfBirth" minute-step="1"></timepicker>
            </form-field>

            <form-field layout="horizontal">
                <form-date-picker sds-model="vm.testForm.DateOfBirth" date-format="MM/dd/yyyy"></form-date-picker>
                <timepicker ng-model="vm.testForm.DateOfBirth" minute-step="1"></timepicker>
            </form-field>

            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
        <hr>
        {{vm.testForm | json}}
    </div>
</div>

  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/lodash/lodash.min.js"></script>
  <script src="../bower_components/selectize/dist/js/standalone/selectize.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="../bower_components/angular-messages/angular-messages.min.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="../bower_components/angular-toggle-switch/angular-toggle-switch.min.js"></script>
  <script src="../bower_components/jquery.maskedinput/dist/jquery.maskedinput.min.js"></script>
  <script src="../bower_components/moment/min/moment.min.js"></script>
  <script src="../bower_components/autoNumeric/autoNumeric.js"></script>
<script src="../bower_components/selectize-ng/selectize-ng.js"></script>
  <script src="../dist/sds-angular-controls.js"></script>
  <script src="app.js"></script>
</body>
</html>
