<div>
    <div ng-if="layout === 'stacked'" class='form-group clearfix' ng-form="{{field}}"
         ng-class="{ 'has-error': showError({{field}}) }">
        <label ng-if="showLabel" class='control-label {{labelLayoutCss}}'> {{ label }} <span ng-if='isRequired && !isReadonly'>*</span></label>

        <div class="clearfix">
            <ng-include src="'sds-angular-controls/form-field-controls.html'"></ng-include>
        </div>

        <!-- validation -->

        <div ng-if="!hideValidationMessage" class='pull-left has-error' ng-show='showError({{field}})'
             ng-messages='{{field}}.$error'>
            <span class='control-label' ng-message='required'> {{ field | labelCase }} is required. </span>

            <span class='control-label' ng-message='min'> {{ field | labelCase }} must be at least {{min}}. </span>
            <span class='control-label' ng-message='max'> {{ field | labelCase }} must not exceed {{max}} </span>
            <span class='control-label' ng-repeat='(k, v) in types' ng-message='{{k}}'> {{ field | labelCase }}{{v[1]}}</span>
        </div>
    </div>

    <div ng-if="layout === 'inline'" class='form-group clearfix' ng-form="{{field}}"
         ng-class="{ 'has-error': showError({{field}}) }">
        <label ng-if="showLabel" class='control-label {{labelLayoutCss}}'> {{ label }} <span ng-if='isRequired && !isReadonly'>*</span></label>

        <div class="{{inputLayoutCss}}">
            <ng-include src="'directive/formField/form-field-controls.html'"></ng-include>
        </div>

        <div ng-if="!hideValidationMessage" ng-show='showError({{field}})' class="popover right alert-danger"
             style="display:inline-block; top:auto; left:auto; margin-top:-6px; min-width:240px;">
            <div class="arrow" style="top: 50%"></div>
            <div class="popover-content" ng-messages='{{field}}.$error'>
                <div ng-message='required'> {{ field | labelCase }} is required. </div>
                <div ng-message='min'> {{ field | labelCase }} must be at least {{min}}. </div>
                <div ng-message='max'> {{ field | labelCase }} must not exceed {{max}} </div>

                <div ng-repeat='(k, v) in types' ng-message='{{k}}'> {{ field | labelCase }}
                    {{v[1]}}</div>

            </div>
        </div>

        <!---->
        <!--<div ng-if="!hideValidationMessage" class='{{errorLayoutCss}} has-error'-->
             <!--ng-show='showError({{field}})' ng-messages='{{field}}.$error'>-->
            <!--<p class='control-label' ng-message='required'> {{ field | labelCase }} is required. </p>-->
            <!--<p class='control-label' ng-message='min'> {{ field | labelCase }} must be at least {{min}}. </p>-->
            <!--<p class='control-label' ng-message='max'> {{ field | labelCase }} must not exceed {{max}} </p>-->

            <!--<p class='control-label' ng-repeat='(k, v) in types' ng-message='{{k}}'> {{ field | labelCase }}-->
                <!--{{v[1]}}</p>-->
        <!--</div>-->
    </div>
    <ng-include ng-if="layout === 'grid'" src="'directive/formField/form-field-controls.html'"></ng-include>
</div>


