<div class="row">
    <div ng-if="layout === 'stacked'" class='form-group clearfix' ng-form="{{field}}"
         ng-class="{ 'has-error': showError({{field}}) }">

        <div class="{{::inputLayoutCss}}">

            <label ng-if="showLabel" class='control-label {{labelLayoutCss}}'> {{ label }} <span ng-if='isRequired && !isReadonly'>*</span></label>

            <!--<div class="clearfix">-->
                <div ng-transclude></div>
            <!--</div>-->

            <!-- validation -->

            <div ng-if="!hideValidationMessage" class='pull-left has-error' ng-show='showError({{field}})'
                 ng-messages='{{field}}.$error'>
                <span class='control-label' ng-message='required'> {{ field | labelCase }} is required. </span>
                <span class='control-label' ng-message='text'> {{ field | labelCase }} should be text. </span>
                <span class='control-label' ng-message='email'> {{ field | labelCase }} should be an email address. </span>
                <span class='control-label' ng-message='date'> {{ field | labelCase }} should be a date. </span>
                <span class='control-label' ng-message='datetime'> {{ field | labelCase }} should be a datetime. </span>
                <span class='control-label' ng-message='time'> {{ field | labelCase }} should be a time. </span>
                <span class='control-label' ng-message='month'> {{ field | labelCase }} should be a month. </span>
                <span class='control-label' ng-message='week'> {{ field | labelCase }} should be a week. </span>
                <span class='control-label' ng-message='url'> {{ field | labelCase }} should be an url. </span>
                <span class='control-label' ng-message='zip'> {{ field | labelCase }} should be a valid zipcode. </span>
                <span class='control-label' ng-message='number'>{{ field | labelCase }} must be a number</span>
                <span class='control-label' ng-message='tel'>{{ field | labelCase }} must be a phone number</span>
                <span class='control-label' ng-message='color'>{{ field | labelCase }} must be a color</span>
                <span class='control-label' ng-message='min'> {{ field | labelCase }} must be at least {{min}}. </span>
                <span class='control-label' ng-message='max'> {{ field | labelCase }} must not exceed {{max}} </span>
                <span class='control-label' ng-repeat='(k, v) in types' ng-message='{{k}}'> {{ field | labelCase }}{{v[1]}}</span>
            </div>
        </div>
    </div>
</div>



